
.title{
    color: #5E6977;
    border-bottom: 1px solid #E1E8EE;
}
.product_container_cart{
    display: grid;
   grid-template-columns: 150px 120px 30px  30px  40px  150px 120px;

   place-items: center;
   font-size: large;
   color: #5E6977;
}

.decrease_button, .increase_button, .btn_remove, .buy_btn {
    cursor: pointer; 
    font-size: large;
}
.price{
    color: red;

}

