 .FilterByProductName input {
   /* width: auto;  */
   padding: 2px 6px;
   font-family: "Roboto, sans-serif";
    position: relative;

    border-radius: 8px 8px;
    border: 1px solid #f8b195;
    align-items: center;
}
input[type="search"] {
    width:250px;
    text-align: center;
  }