 .toolbar  {
    font-family: "Roboto, sans-serif";
    position: static;
    width: 100%;
    height: 100px;
    justify-content: center;
}

 .toolbar_logo {
  font-size: 19px;
} 

.toolbar_navigation{
display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
    justify-content: center
}

.toolbar_navigation-items ul{
    color: black;
    align-items: center;
    margin: 10px;
    padding: 10px;
    display: flex;
    font-family: 'Open Sans';
    font-size: large;
}
.toolbar_navigation-items li {

    padding: 20px;
}

label{
  margin-right: 5px;
}
.icon{
    padding-left: 10px;
    font-size: 30px;
} 

.toolbar_navigation-items input {
    width: auto;
   padding: 2px 6px;
   font-family: "Roboto, sans-serif";
    position: relative;
    border-radius: 8px 8px;
    border: 1px solid #f8b195;
    align-items: center;
    /* padding: 0 1rem; */
    justify-content: center;

}
.toolbar_navigation-items input[type=range]{

    align-items: center;
    padding: 0 1rem;
    justify-content: center;


}
.toolbar_navigation-items input[type=checkbox]{

zoom: 1.2;

}


.toolbar_navigation-items select{
    justify-content: center;
  align-items: center;
    font-family: "Roboto, sans-serif";
    border-radius: 8px 8px;
    border: 1px solid #f8b195;
    padding: 2px 6px;
}

.toolbar_navigation-items li:hover,
.toolbar_navigation-items li:active {
    color: #f67280;
    

} 