*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar__container{
    display: grid;

   
    background: linear-gradient(135deg, #f67280 30%, #f8b195);
    display: grid;
    grid-template-columns: 1fr auto;

    padding: 40px;
    margin-bottom: 40px;
}



/* podzielic to na dwa divy - jeden na lewo drugi na prawo */

    
.link {

    float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 32px;
}



.link:hover{
    position:relative;
    z-index: 1;
    color: #91640F;
    font-weight: bold;
   
}



@media (max-width: 950px){
    .navbar > *{
        display: grid;
    

    }
    }