*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: hsla(64, 100%, 40%, 0.856);
    overflow: hidden;
    color: #eee;
    /* font-size: large; */
    font-weight: 200;
    font-size: 28px

}

.link {

    float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.link:hover{
    background-color: #ddd;
    color: black; 
}

.right{

    float: right;
    color: white;
}