
.container{

    padding-top: 40px; 
    padding-right: 50px; 
    padding-left: 50px; 
    width: 600px;
    margin: 40px auto;
    /* display: block; */
    /* text-align: center; */
    margin-bottom:  150px;

  
}
label{
    
    font-weight:bold;
    margin-top: 10px;

    display:inline-block;

}

.contact_input  input{
    align-items: center;
    width: 100%;
    padding: 12px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.contact_btn{ 
    width: 100%;
    background: linear-gradient(135deg, #f67280 30%, #f8b195);
    padding: 14px 20px;
    margin: 8px 100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.textarea{
    width: 100%;
    padding: 12px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 100px;
    resize: none;
}

.has-error{
    margin: 5px;
    padding: 5;
    color:  red;
    text-align: center;
}

