body {
    font-family:  sans-serif;
}
.product_container{
display: grid;

grid-template-columns: repeat(3, 1fr);
grid-gap: 20px;

text-align: center;
place-items: center;
margin-top: 20px;
}

ul {
   list-style-type: none;

    }
    
 img{

 margin: 20px;


    }
    
    .product_container img{
        width: 400px;
        height: 400px;
    }


    
.product_container p{
    font-size: 20px;
}
.name {
    margin: 5px;
    font-family: fantasy;
    font-size: 18px;
    /* border: 1px solid salmon; */

}
@media (max-width: 1450px){
    .product_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    }

    @media (max-width: 950px){
        .product_container{
            display: grid;
            grid-template-columns:  1fr;
            
        }
        }
    
    