
.container{
    min-height:100%;
    position:fixed;
    bottom: 0;
}

footer {

  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom:-29px; 
  }



  
  footer p {
    text-align:center;
    color:red;
  } 




